{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Django Delights</title>
    <link rel="stylesheet" href="{% static 'inventory/styles.css' %}">
  </head>
  <body>
    <nav>
      <a href="{% url 'homepage' %}">Home</a>
      <a href="{% url 'ingredients' %}">Ingredients</a>
      <a href="{% url 'menu' %}">Menu</a>
      <a href="{% url 'purchases' %}">Purchases</a>
      <a href="{% url 'recipe_requirements' %}">Recipe Requirements</a>
    </nav>

    <div class="container">
      <header>
        <h1>Welcome to Django Delights</h1>
      </header>

      <main>
        {% block content %}
        {% endblock %}
      </main>

      <footer>
        <p>&copy; 2023 Django Delights</p>
      </footer>
    </div>
  </body>
</html>
