<html>
  <head>
    <title>Django Delights</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Django Delights</h1>
    </header>
    <main>
        <h2>Inventory Management</h2>
        <p>Manage your ingredients and menu items efficiently.</p>
        {{% block content %}
        {% endblock %}}
        <nav>
            <ul>
            <li><a href="{% url 'ingredients_list' %}">Ingredients</a></li>
            <li><a href="{% url 'menu_items_list' %}">Menu Items</a></li>
            <li><a href="{% url 'recipe_requirements_list' %}">Recipe Requirements</a></li>
            </ul>
        </nav>
    </main>
    <footer>
      <p>&copy; 2023 Django Delights</p>
    </footer>
  </body>
</html>